@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-headerLink{
    font-family: "Roboto", sans-serif;
    @apply uppercase w-36 px-3 text-center my-auto text-white hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
}

.background-color{
    background-color: darkviolet;
}


.text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
}

.text-shadow-none {
    text-shadow: none;
}

.button_1 {
    background-image: linear-gradient(to left,var(--tw-gradient-stops));
    --tw-gradient-from: #ff46aa;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(255,70,170,0));
    --tw-gradient-to: rgba(255,70,170,.6);
    text-transform: uppercase;
    padding: 10px 2rem;
    transition: all 50ms linear;
    box-shadow: 0 -1px 0 hsl(0deg 0% 100% / 61%), 0 2px 0 rgb(0 0 0 / 20%);
    left: 0;
    top: 1px;
    right: 0;
    bottom: 2px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}

.button_overlay {
    -webkit-clip-path: polygon(25px 100%,1px 54%,0 52%,0 50%,0 48%,1px 46%,25px 0,calc(100% - 25px) 0,calc(100% - 1px) 46%,100% 48%,100% 50%,100% 52%,calc(100% - 1px) 54%,calc(100% - 25px) 100%);
    clip-path: polygon(25px 100%,1px 54%,0 52%,0 50%,0 48%,1px 46%,25px 0,calc(100% - 25px) 0,calc(100% - 1px) 46%,100% 48%,100% 50%,100% 52%,calc(100% - 1px) 54%,calc(100% - 25px) 100%);
    transition: all .15s ease-in-out;
    position: absolute;
    left: 16px;
    top: 0;
    right: 16px;
    bottom: 0;
}